.TodoItem {
    display: flex;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 24px;
    padding: 10px 5px;
    border-bottom: 1px solid #EEE;
    color: #4d4d4d;
}

.TodoItem>p {
    margin: 0 0 0 15px;
}

.TodoItem-complete>p {
    text-decoration: line-through;
    opacity: 0.3;
}